@using TeknikServis.BLL.Identity;
@model TeknikServis.Models.ViewModels.IssueVM
@{
    ViewBag.Title = "Unassigned Issue Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3 style="color:green">@TempData["Message"]</h3>
<h3 style="color:red">@TempData["Message2"]</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IssueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @MembershipTools.GetNameSurname(Model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatorName)
        </dt>

        <dd>
            @MembershipTools.GetNameSurname(Model.OperatorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnicianName)
        </dt>

        <dd>
            @using (Html.BeginForm("AssignTechAsync", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.IssueId)
                @Html.DropDownListFor(x => x.TechnicianId, (List<SelectListItem>)ViewBag.TechnicianList, new { @class = "form-control", size = "1" })
                <button class="btn btn-success" type="submit">Teknisyene Ata</button>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WarrantyState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCharge)
        </dd>

    </dl>
    <div class="col-md-4">
        <a href="@Url.Action("Index", "Home")" class="btn btn-block btn-google">Back to Profile</a>
    </div>
</div>