@using TeknikServis.BLL.Identity;
@model TeknikServis.Models.ViewModels.IssueVM
@{
    ViewBag.Title = "Atanmamış Kayıtlar";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h3 style="color:red">@TempData["Message2"]</h3>


<div class="col-md-6 col-md-offset-3">
    <table id="user" class="table table-bordered table-striped" style="clear: both">
        <tbody>
            <tr>
                <td style="width: 35%; font-weight: bold">Kayıt Id</td>
                <td style="width: 65%;">@Model.IssueId</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Müşteri Adı Soyadı</td>
                <td style="width: 65%;">@(Model.CustomerId == null ? "Müşteri Adı" : MembershipTools.GetNameSurname(Model.CustomerId))</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Operatör Adı Soyadı</td>
                <td style="width: 65%;">@(Model.OperatorId == null ? "Operatör Atanmadı" : MembershipTools.GetNameSurname(Model.OperatorId))</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Teknisyen Adı Soyadı</td>
                <td style="width: 65%;">@(Model.TechnicianId == null ? "Teknisyen Atanmadı" : MembershipTools.GetNameSurname(Model.TechnicianId))</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Ürün</td>
                <td style="width: 65%;">@Model.ProductType</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Açıklama</td>
                <td style="width: 65%;">@Model.Description</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Konum</td>
                <td style="width: 65%;">@Model.Location</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Garanti Durumu</td>
                @if (@Model.WarrantyState)
                {
                    <td style="width: 65%;">Garantisi Var</td>
                }
                else
                {
                    <td style="width: 65%;">Garantisi Yok</td>
                }
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Kayıt Oluşturma Tarihi</td>
                <td style="width: 65%;">@Model.CreatedDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Servis Bedeli</td>
                <td style="width: 65%;">@Model.ServiceCharge ₺</td>
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Rapor</td>
                @if (@Model.TechReport == null)
                {
                    <td style="width: 65%;">Rapor henüz oluşturulmamıştır.</td>
                }
                else
                {
                    <td style="width: 65%;">@Model.TechReport</td>
                }
            </tr>
            <tr>
                <td style="width: 35%; font-weight: bold">Kayıt Kapanma Tarihi</td>
                @if (@Model.ClosedDate == null)
                {
                    <td style="width: 65%;">Arıza henüz sonuçlanmamıştır.</td>
                }
                else
                {
                    <td style="width: 65%;">@(Model.ClosedDate?.ToShortDateString())</td>
                }
            </tr>
        </tbody>
    </table>
    <div class="form-group table-bordered">
        @using (Html.BeginForm("AssignTechAsync", "Operator", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.IssueId)
            <div class="form-group">
                @Html.LabelFor(model => model.OptReport, htmlAttributes: new { @class = "control-label col-md-4", style = "font-weight:900" })
                <div class="col-md-8">
                    @Html.EditorFor(model => model.OptReport, new { htmlAttributes = new { @class = "form-control input-rounded" } })
                    @Html.ValidationMessageFor(model => model.OptReport, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                @Html.DropDownListFor(x => x.TechnicianId, (List<SelectListItem>)ViewBag.TechnicianList, new { @class = "form-control", size = "1" })
            </div>
            <button class="btn btn-instagram" type="submit">Kaydet</button>
        }
    </div>
</div>
