<!-- Page Sidebar -->
<div class="page-sidebar">
    <div class="page-sidebar-inner">
        <div class="page-sidebar-menu">
            <ul class="accordion-menu">
                <li>
                    <a href="@Url.Action("UserProfile","Account")">
                        <i class="menu-icon icon-profile"></i><span>Profile</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Home")">
                        <i class="menu-icon icon-home4"></i><span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Admin")">
                        <i class="menu-icon icon-account_circle"></i><span>Admin</span>
                    </a>
                </li>

                <li class="menu-divider"></li>
                <li>
                    <a href="@Url.Action("Login","Account")">
                        <i class="menu-icon icon-account_box"></i><span>Login</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Logout","Account")">
                        <i class="menu-icon icon-power2"></i><span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div><!-- /Page Sidebar -->