@model List<TeknikServis.Models.Entities.IssueLog>
@{
    ViewBag.Title = "Kayıt Zaman Çizelgesi";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

@section top{
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/icomoon/style.css" rel="stylesheet">
    <link href="~/assets/plugins/uniform/css/default.css" rel="stylesheet" />
    <link href="~/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/vertical-timeline/css/style.css" rel="stylesheet">

    <!-- Theme Styles -->
    <link href="~/assets/css/ecaps.min.css" rel="stylesheet">
    <link href="~/assets/css/custom.css" rel="stylesheet">

    <script src="~/assets/plugins/vertical-timeline/js/modernizr.js"></script>
}

@for (int i = 0; i < Model.Count; i++)
{
    var current = Model[i];
    if (i % 2 == 0)
    {
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-success bounce-in">
                @switch (current.FromWhom)
                {
                    case "Müşteri":<i class="fa fa-star"></i>
                        break;
                    case "Operatör": <i class="fa fa-pencil-square-o"></i>
                        break;
                    default: <i class="fa fa-paperclip"></i>
                        break;
                }
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h4 style="font-weight:500;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@current.FromWhom</h4>
                <p style="font-weight:500;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@current.Description</p>
                <span class="cd-date">@current.CreatedDate.ToShortDateString() - @current.CreatedDate.ToShortTimeString()</span>
            </div> <!-- cd-timeline-content -->
        </div>
    }
    else
    {
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-danger bounce-in">
                @switch (current.FromWhom)
                {
                    case "Müşteri":<i class="fa fa-star"></i>
                        break;
                    case "Operatör": <i class="fa fa-pencil-square-o"></i>
                        break;
                    default: <i class="fa fa-paperclip"></i>
                        break;
                }
            </div> <!-- cd-timeline-img -->
            <div class="cd-timeline-content">
                <h4 style="font-weight:500;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@current.FromWhom</h4>
                <p style="font-weight:500;font-size:large;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">@current.Description</p>
                <span class="cd-date">@current.CreatedDate.ToShortDateString() - @current.CreatedDate.ToShortTimeString()</span>
            </div> <!-- cd-timeline-content -->
        </div>
    }
}
<br />

@section bottom{
    <!-- Javascripts -->
    <script src="~/assets/plugins/jquery/jquery-3.1.0.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/uniform/js/jquery.uniform.standalone.js"></script>
    <script src="~/assets/plugins/switchery/switchery.min.js"></script>
    <script src="~/assets/plugins/vertical-timeline/js/main.js"></script>
    <script src="~/assets/js/ecaps.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzjeZ1lORVesmjaaFu0EbYeTw84t1_nek"></script>
    <script src="~/assets/js/pages/timeline.js"></script>
}