@using TeknikServis.BLL.Repository
@model List<TeknikServis.Models.Entities.Survey>
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="table-responsive">
    <table id="example2" class="display table table-striped" style="width: 100%; mso-cellspacing: 0;">
        <thead>
            <tr>
                <th style="font-weight: bold">#</th>
                <th style="font-weight: bold">Arıza Id</th>
                <th style="font-weight: bold">Arıza Açıklama</th>
                <th style="font-weight: bold">Hız</th>
                <th style="font-weight: bold">Teknisyen</th>
                <th style="font-weight: bold">Fiyat</th>
                <th style="font-weight: bold">Memnuniyet</th>
                <th style="font-weight: bold">Çözüm</th>
                <th style="font-weight: bold">Aksiyon</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
                var item = Model[i];
                var issue = new IssueRepo().GetAll().FirstOrDefault(x => x.SurveyId == item.Id);
                <tr>
                    <th style="font-weight: bold">@(i + 1)</th>
                    <td>@(issue?.Id)</td>
                    <td>@(issue.Description)</td>
                    <td>@item.Speed</td>
                    <td>@item.TechPoint</td>
                    <td>@item.Pricing</td>
                    <td>@item.Satisfaction</td>
                    <td>@item.Solving</td>
                    <td><a href="@Url.Action("Details","Issue",new{id = issue.Id})" class="btn btn-instagram">Detay</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <th style="font-weight: bold; background-color: maroon;color:white">Ortalama Puan</th>
                <th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSpeed.ToString("0.00")</th>
                <th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgTech.ToString("0.00")</th>
                <th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgPrice.ToString("0.00")</th>
                <th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSatisfaction.ToString("0.00")</th>
                <th style="font-weight: bold;background-color:maroon;color:white">@ViewBag.AvgSolving.ToString("0.00")</th>
            </tr>
        </tfoot>
    </table>
</div>

