
@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="table-responsive">
    <table id="example2" class="display table" style="width: 100%; mso-cellspacing: 0;">
        <thead>
            <tr>
                <th></th>
                <th>Hız</th>
                <th>Teknisyen</th>
                <th>Fiyat</th>
                <th>Memnuniyet</th>
                <th>Çözüm</th>
            </tr>
        </thead>
        <tbody>

            <tr style="background: lightgrey">
                <td>Ortalama Puan</td>
                <td>@ViewBag.AvgSpeed</td>
                <td>@ViewBag.AvgTech</td>
                <td>@ViewBag.AvgPrice</td>
                <td>@ViewBag.AvgSatisfaction</td>
                <td>@ViewBag.AvgSolving</td>
            </tr>

        </tbody>
    </table>
</div>

